body {
  font-family: "Ubuntu", "sans-serif";
  margin: 0;
  padding: 0;
}
body:hover {
  cursor: default;
}

img {
  width: 300px;
  height: 100%;
}
/************   TYPOGRAPHY   **********/
nav {
  span {
    font-size: 3rem;
    color: #190f53;
  }
  li {
    font-size: 2rem;
  }
}

.title-block {
  display: flex;
  justify-content: center;
  h1 {
    border-bottom: 2px solid magenta;
    font-size: 3.5rem;
    font-weight: 300;
  }
}

.article-card {
  .article-title {
    font-size: 2rem;
    font-weight: 700;
  }
  .article-meta {
    font-size: 1rem;
  }
  .article-content {
    font-size: 1.2rem;
  }
}
.side-bar {
  .widget {
    h2 {
      font-weight: 300;
      color: #190f53;
      font-size: 2rem;
    }
  }
}

@media (max-width: 475px) {
  html {
    font-size: 8px;
  }
}

/************   LAYOUT   **********/

header {
  margin: 0;
  background-color: lightcyan;
  padding: 2em 0;
  position: fixed;
  top: 0;

  nav {
    max-width: 1280px;
    margin: 0 auto;
    .header-container {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      border: 2px solid magenta;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          margin: auto 0;
          margin-left: 2em;
          .current-route {
            border-bottom: 2px solid magenta;
          }
          div:hover {
            cursor: pointer;
          }
          .current-route:hover {
            cursor: default;
          }
        }
      }
    }
  }
}

body {
  margin-top: 9em;
  background: #f1f1f1;

  h1 {
    color: #190f53;
    text-align: center;
    margin-bottom: 1em;
  }
  .body-container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    .visz {
      width: 20%;
    }

    .article-list {
      width: 80%;
      .article-card {
        display: flex;
        margin-bottom: 3em;
        .article {
          background: #f0efef;
          padding: 1em;
          border: 2px solid magenta;
          margin-left: 1em;
          .article-meta {
            display: flex;
            p {
              margin-right: 3em;
            }
          }
          .article-content {
            overflow: hidden;
            max-height: 200px;
          }
        }
      }
    }

    .side-bar {
      width: 19%;
      padding: 0;
      .widget {
        h2 {
          margin: 0 0 1em 0;
        }
        ul {
          display: flex;
          padding: 0;

          li {
            list-style: none;
            margin-right: 2em;
          }
        }
        .DateRangePicker {
          opacity: 1;
          background-color: white;
        }

        div {
          .small-container {
            display: flex;
          }
        }

        border: 2px solid magenta;
        padding: 1em;
        margin-bottom: 2em;
      }
    }
  }
}

@media (max-width: 475px) {
  header {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    nav {
      margin: 0;
      text-anchor: center;
      max-width: 320px;

      .header-container {
        flex-direction: column;

        span {
          text-align: center;
        }

        ul {
          li {
            margin: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }

  body {
    margin-top: 12em;
      max-width: 320px;
    .body-container {
      flex-direction: column-reverse;
      max-width: 430px;
      .article-list {
        width: 100%;
        .article-card {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .article{
            margin:0;
            padding: 0;
            .article-content{
              max-height: 100px;
            }
          }
        }
      }
      .side-bar {
        width: 100%;
        .widget{
          padding: 0 2em;
        }
      }
    }
  }
}

@media (orientation: landscape) {
  header {
    width: 100vw;
  }
}
@media (orientation: portrait) {
  header {
    width: 100vw;
  }
}

/* ********** VISUALIZATIONS ************ */

body {
  .body-container {
    display: flex;
    justify-content: space-between;
    .vizs {
      svg {
        g {
          .line-path {
            fill: none;
          }
          g {
            .tick {
              line {
                opacity: 0.2;
              }
            }
          }
        }
      }
    }
  }
}
