$primary-color: #190f53;
$secondary-color: white;
$background-color: rgb(246, 246, 246);
$border-style: 2px solid magenta;
$box-shadow:-0.2em 0.2em 0.2em rgba(255, 0, 255, 0.219);
$box-shadow-light-bg: 0em 0.06em 0em rgba(255, 0, 255, 0.219);
$box-shadow-light-sm: 0em 0.1em 0em rgba(255, 0, 255, 0.219);
$background-fill: url("./dot-grid.png") repeat;

body {
  font-family: "Ubuntu", "sans-serif";
  margin: 0;
  padding: 0;
}
body:hover {
  cursor: default;
}

img {
  width: 320px;
  height: 100%;
}
/************   TYPOGRAPHY   **********/
nav {
  span {
    font-size: 3rem;
    color: $primary-color;
  }
  li {
    font-size: 2rem;
  }
}

.title-block {
  display: flex;
  justify-content: center;
  h1 {
    border-bottom: $border-style; 
    font-size: 3.5rem;
    font-weight: 300;
    box-shadow: $box-shadow-light-bg;
  }
}

.article-card {
  .article-title {
    font-size: 2rem;
    font-weight: 700;
  }
  .article-meta {
    font-size: 1rem;
  }
  .article-content {
    font-size: 1.2rem;
  }
}
.side-bar {
  .widget {
    background: $background-color;
    h2 {
      font-weight: 300;
      color: $primary-color;
      font-size: 2rem;
    }
  }
}

@media (max-width: 475px) {
  html {
    font-size: 8px;
  }
}

/************   LAYOUT   **********/

header {
  margin: 0;
  // background-color: lightcyan;
  padding: 2em 0;
  position: fixed;
  top: 0;
  
  nav {
    background-color: $background-color;
    opacity: 1;
    max-width: 1280px;
    margin: 0 auto;
    .header-container {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      border: 2px solid magenta;
      box-shadow: $box-shadow; 

      ul {
        padding: 0;
        display: flex;
        margin: 0;

        li {
          list-style: none;
          margin: auto 0;
          margin-left: 2em;
          margin-right: 0.5em;
          .current-route {
            box-shadow: $box-shadow-light-sm;
            border-bottom: $border-style;
          }
          div:hover {
            cursor: pointer;
          }
          .current-route:hover {
            cursor: default;
          }
        }
      }
    }
  }
}

body {
  margin-top: 8em;
  background: $background-color;
  background: $background-fill;
  main {
    display: flex;
    justify-content: center;
    .main {
      display: inline-block;
      h1 {
        color: $primary-color;
        text-align: center;
        margin-bottom: 1em;
      }
      .body-container {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        margin: 0 auto;

        .visz {
          width: 20%;
        }

        .article-list {
          width: 80%;
          .article-card {
            display: flex;
            margin-bottom: 3em;
            .article {
              padding: 1em;
              border: $border-style;
    background: $background-color;
              box-shadow: $box-shadow;
              margin-left: 1em;
              .article-meta {
                display: flex;
                p {
                  margin-right: 3em;
                }
              }
              .article-content {
                overflow: hidden;
                max-height: 200px;
              }
            }
          }
        }
      }

      .side-bar {
        width: 19%;
        padding: 0;
        .widget {
          h2 {
            margin: 0 0 1em 0;
          }
          ul {
            display: flex;
            padding: 0;

            li {
              list-style: none;
              margin-right: 2em;
            }
          }
          .DateRangePicker {
            opacity: 1;
            background-color: $secondary-color;
          }

          div {
            .small-container {
              display: flex;
            }
          }

          border: $border-style;
          box-shadow: $box-shadow;
          padding: 1em;
          margin-bottom: 2em;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  header {
    width: 100%;
    justify-content: center;
    nav {
      margin: 0;
      display: flex;
      justify-content: center;
      .header-container {
        width: 280px;
        flex-direction: column;

        span {
          text-align: center;
        }

        ul {
          li {
            margin: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }

  body {
    margin-top: 10em;
    main {
      .main {
        .body-container {
          max-width: 320px;
          flex-direction: column-reverse;
          align-items: center;
          .article-list {
            width: 100%;
            .article-card {
              flex-direction: column;
              .article {
                margin: 0;
                padding: 1.5em;
              }
            }
          }
        }
        .side-bar {
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }
}

@media (orientation: landscape) {
  header {
    width: 100vw;
  }
}
// @media (orientation: portrait) {
//   header {
//     width: 100vw;
//   }
// }

/* ********** VISUALIZATIONS ************ */

body {
  .body-container {
    display: flex;
    justify-content: space-between;
    .visz {
      svg {
        g {
          .line-path {
            fill: none;
          }
          g {
            .tick {
              line {
                opacity: 0.2;
              }
            }
          }
        }
      }
    }
  }
}
